


.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    cursor: pointer;

    >input{
        display: none;
    }

    .error{
        color: var(--red);
        font-size: 15px;
    }
}