
.wrapper{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    padding: 10px 20px;
}

h3{
    font-size: 24px;
    margin-bottom: 8px;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 18px;
    max-height: 300px;
    height: 300px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        box-sizing: border-box;
        background: #fff;
        border-radius: 50% / 3px;
        margin: 2px 0;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #222;
        border-radius: 50% / 3px;
    }


    .item{
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        width: fit-content;
        position: relative;
        width: 100%;

        img{
            width: 32px;
            margin-left: auto;
        }

        &.selected{
            &::after{
                content: "";
                position: absolute;
                background-color: #000;
                width: 100%;
                height: 2px;
                bottom: -4px;
            }
        }

        .color{
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }
}