body{
  margin: 0;
  padding: 0;
}

html{
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  height: 100%;
}

body{
  --blue-light: #9bc7fe;
  --blue: #2F9BFF;
  --blue-hover: #0073FF;

  --black: #000000;
  --black-hover: #2d2d2d;

  
  --red: #FF0000;
  --red-dark: #8b0000;
  --red-hover: #dd0303;
  
  --green: #25b700;

  --yellow: #FFE565;
  
  font-size: 16px;
  
  --dark-gray: #404040;  
  --gray: #808080;
  --gray-light: #ababab;


  /* --background: rgb(240, 248, 255) */
  --background: #d4d4d4
}

*{
  font-family: 'Roboto', 'sans-serif';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: var(--black);
}

ul{
  list-style: none;
}



@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Black.ttf');
  font-weight: 900;
}